= simple_form_for(task, html: {class: 'form-group'}) do |f|
  = f.input :name, label: 'Название'
  = f.input :starts_at, as: :datetime_picker
  = f.input :ends_at, as: :datetime_picker
  = f.button :submit