ul.list-group
  - tasks.each do |task|
    li.list-group-item.task-item
      = task.name
      br
      = date_range(task.starts_at, task.ends_at)
      .btn-group.pull-right.task-btn-group
        .task-item-button-group
          = button_to "Edit", edit_task_path(task), class: "btn btn-default task-edit-btn", method: 'get', disabled: task.started?
          = button_to "Delete", { action: :destroy, id: task.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger task-delete-btn", disabled: task.started?



= paginate tasks