.task-item {
  height: 60px;
}

.task-item-button-group {
  display: inline-flex;
}

.task-edit-btn {
  margin-right: 5px
}

.task-delete-btn {
  margin-left: 5px
}

.task-btn-group {
   margin-top: -20px
}