doctype html
html
  head
    title Simple TODO
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  body 
    .navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-brand TODO
        ul.nav.navbar-nav
          -if (user_signed_in?)
            li 
              =link_to 'Задачи', tasks_path
            li
              =link_to 'Новая задача', new_task_path
            li.pull-right
              =link_to 'Log out', destroy_user_session_path, method: :delete
          -else
            li 
              = link_to 'Log In', new_user_session_path
            li
              = link_to 'Registration', new_user_registration_path
    .container#main
      .row
        = yield
